@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

body
{
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: Oxanium;
}

button
{
    font-family: Oxanium;
}

/*<><><> header <><><>*/

header
{
    text-align: center;
    /* border: 1px solid red; */
    padding: 10px;
    font-size: 28px;
    border-radius: 20px;
    border-bottom: 2px solid  rgb(83, 89, 223);
}

header h1
{
    margin-bottom: 60px;
}

.highlight-text 
{
    font-size: 70px;

    background: linear-gradient(90deg, rgb(113, 93, 242), rgb(0, 63, 138)); /* Purple gradient */
    -webkit-background-clip: text; /* background-clip po defaultu pravi pozadinu za ceo box, kad stavimo text, onda je samo za tekst */
    -webkit-text-fill-color: transparent; /* Ako ovo ne stavimo, idalje ostaje originalna boja (white) */
}

#list
{
    font-weight: bold;
    text-align: center;
}

.list-item
{
    display: inline;
    margin-left: 45px;
    transition: 2s;
}

a
{
    text-decoration: none;
    color: white;
}

.list-item:hover
{
    transition: 0.5s;
    text-shadow: 5px 5px 10px rgb(113, 93, 242);
    font-size: 35px;
}

.list-item:first-child /* :first-child je pseudo klasa - stilizujemo elemente na osnovu njihovih stanja ili pozicije, selektujem prvi child element u parent elementu. example: prvi <li> (child) u <ul> (parent)*/
{
    margin-left: 0px;
}

/*<><><> Home <><><>*/

#container-main
{
    /* border: 1px solid red; */
    text-align: center;


}

.movie-box
{
    padding: 10px 20px;
    width: 500px;
    /* border: 1px solid red; */
    display: inline-block;
    text-align: center;
    margin: 20px 10px 20px 0;
    border-radius: 20px;
    transition: 1.2s;
}

.movie-box:hover
{
    box-shadow: 5px 5px 10px rgb(113, 93, 242);
    transition: 0.7s;
    border: 0 2px 2px 0 solid rgb(113, 93, 242);
}

.movie-img
{
    border-radius: 20px;
    padding: 10px;
    width: 450px;
    height: 670px;
}

.title
{
    margin-top: 10px;
    font-weight: bold;
    font-size: 35px;
}

.disc
{
    font-size: 20px;
}

svg
{
    position: absolute;
    z-index: -10;
}

/*<><><> Home <><><>*/

.header-movies
{
    padding: 20px;
    text-align: left;
}

.back
{
    height: 45px;
    width: 160px;
    background: linear-gradient(90deg, rgb(113, 93, 242), rgb(0, 63, 138));
    color: white;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgb(113, 93, 242);
    border-radius: 10px;
    letter-spacing: 3px;

    transition: 1s;
}

.back:hover
{
    width: 200px;
    height: 55px;
    font-size: 30px;
    border-radius: 20px;

    box-shadow: 7px 7px 15px rgb(0, 63, 138);
    transition: 0.7s;
}